.link {
  overflow: hidden;
}

.text {
  padding: 10px;
  z-index: 1;
}

.underline {
  width: 100%;
  height: 1px;
  background: black;
  margin-top: 2px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hovered .underline {
  animation: slideIn 0.3s forwards;
}

.hoveredOut .underline {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
