.nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.link {
  font-size: 24px;
}
