.hero {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
}

.info {
  position: absolute;
  bottom: 60px;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
}

.title {
  font-size: 4vw;
}
